/* General Styling*/
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #06c;
}

img {
  max-width: 100%;
}

.white {
  color: #fff;
}

.black {
  color: #1d1d1f;
}

.grey {
  color: #86868b;
}

.top-50 {
  margin-top: 50px;
}

/* ======================= */



.sixth-heghlight-wrapper .links-wrapper {
  max-width: 300px;
  margin: 0 auto;
}

.links-wrapper ul {
  list-style: none;
}

.product-title {
  font-weight: 700;
  font-size: 56px;
}

.brief-description {
  font-size: 2em;
}

.sixth-heghlight-wrapper .description-wraper {
  max-width: 250px;
  margin: 7px auto;
}

.description-wraper.white {
  color: white;
}

.links-wrapper {
  /* padding: 15px 0; */
}

.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}

.links-wrapper ul li a {
  color: rgb(37, 138, 233);
  text-decoration: none;
  font-size: 26px;
}

.links-wrapper ul li a:hover {


}

.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

.title-wraper {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
}

.title-wraper.bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
}

.right-side-wrapper .title-wraper {
  max-width: 280px;
  margin: 0 auto;
}

.description-wrapper {
  font-size: 26px;
  padding: 10px 0;
}



@media (min-width: 768px) {
  .title-wraper.bold {
    font-size: 56px;
  }
}